#Ficha
{position: absolute;
left: 500px;
top: -20px;
width: 779px;
height: 84px;

font-weight: 500;
font-size: 40px;
line-height: 49px;
text-align: center;
text-transform: uppercase;
color: #00407A;}

#Titulo_Página
{position: absolute;
left: 600px;
width: 549px;
height: 32px;
font-weight: bold;

font-size: 25px;
line-height: 30px;
text-align: center;
color: #00407A;}

.retangulo
{position: relative;
    top: -40px;
width: 100%;
height: 5px;
background: rgba(54, 160, 255, 0.2);}

body { width: 95%;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;



        background: linear-gradient(120deg, #ffffff, #c5c5c5);
        background-size: 400% 400%;
    
    
        -webkit-animation: background 4s ease infinite;
        -moz-animation: background 4s ease infinite;
        animation: background 4s ease infinite;
    
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }


    @-webkit-keyframes background {
        0% {
            background-position: 2% 0%
        }
    
        50% {
            background-position: 99% 100%
        }
    
        100% {
            background-position: 2% 0%
        }
    }
    
    @-moz-keyframes background {
        0% {
            background-position: 2% 0%
        }
    
        50% {
            background-position: 99% 100%
        }
    
        100% {
            background-position: 2% 0%
        }
    }
    
    @keyframes background {
        0% {
            background-position: 2% 0%
        }
    
        50% {
            background-position: 99% 100%
        }
    
        100% {
            background-position: 2% 0%
        }
    
    }
    
    
.titulo

{
text-transform: uppercase;
font-weight: bold;
font-size: 25px;
line-height: 24px;

color: #00407A;}


.name

{text-transform: uppercase;
font-weight:600;
font-size: 18px}

input:hover {
background-color: rgb(197, 214, 223);
border: 0px  white;
}

.text_digitavel
{
position: relative;
width: 90%;
height: 40px;
border: 40px ;
border-radius: 50px;
background-color: rgb(255, 255, 255);}


#mes, #ano
{
    position: relative;
    width: 10%;
    height: 40px;
    border: 40px ;
    border-radius: 50px;
    background-color:#7abefa60;
    text-align: center;}

    #dias_uteis, #Presenca, #horas
{
    position: relative;
    width: 12%;
    height: 40px;
    border: 40px ;
    border-radius: 50px;
    margin-top: 35px;
    background-color:#7abefa60;
    text-align: center;}
input:hover {
        background-color: rgb(197, 214, 223);
        border: 0px  white;
}

#data
    {  font-size: 10px;
        float: left;
        width: 92px;
       margin: 0.5px;
        text-align: center;
        height: 40px;
        border: 40px ;
        border-radius: 50px;
        background-color:#7abefa60;}


#nome_dos_topicos
{   float: left;
     width: 31%;
    margin: 1px;}


#anotacoes {
    width: 210%;
   margin: 2px;}

#admissao {position: relative;
    left: 100%;
    width: 100%;
   margin: 2px;}

#submit {border: 20px;
        border-radius: 30px;
        width: 20%;
        height: 50px;
        font-size: 150%;}

h4 {   font-size: 18px;
    text-align: center;
    float: left;
    width: 90px;
   margin: 1px;}

#situacao_funcional_grid {display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

#avaliacao_grid_2 {display: grid;
    grid-template-columns: repeat(2 , 1fr);
  }


#avaliacao {
    position: relative;
    margin-left: 10px;
    width: 15%;
    height: 40px;
    border: 40px ;
    border-radius: 50px;
    background-color:#7abefa60;
    text-align: center;}

#avaliacao_name {margin-left: 40px;
                font-size: 70%;
                width: 1px;}
